/* styles */

h1 {
    font-size: 20px;
}

#output-container,
.demo {
    font-family: Menlo, 'Courier New', Courier, monospace;
}

.demo {
    border-bottom: 1px solid #ffffff;
    margin-bottom: 1.5em;
}
#btnComments {
    margin-bottom: 0px;
}
#btnFood {
    height: 80px;
    padding-top: 25px;
}

#btnBrewed {
    height: 80px;
    padding-top: 25px;
}

#map {
    height: 500px;
    width: 100%;
    float: right;
    color: black;
}

#display {
    height: 100%;
    width: 104%
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#popup {
    background-color: #38414d;
    color: white;
}
.container {
    height: 90%;
}

ul#list-display {
    padding: 0;
    list-style: none;
  }
  #list-display li {
    margin-bottom: .5em;
  }