/* styles */

h1 {
  font-size: 20px;
}

#output-container, .demo {
    font-family: Menlo, 'Courier New', Courier, monospace;
}

.demo {
    border-bottom: 1px solid #ffffff;
    margin-bottom: 1.5em;
}

#btnFood {
    height: 80px;
    padding-top: 25px;
}

#btnBrewed {
    height: 80px;
    padding-top: 25px;
}
#map {
    height: 100%;
    width: 100%;
    float: right;
    color: black;

}
html,
    body {
      height: 100%;
      margin: 0;
      padding: 0;
    }