@import url(https://fonts.googleapis.com/css?family=Roboto:400,600);

h1 {
    font-size: 20px;
}

#output-container,
.demo {
    font-family: Menlo, 'Courier New', Courier, monospace;
}

.demo {
    border-bottom: 1px solid #ffffff;
    margin-bottom: 1.5em;
}
#btnComments {
    margin-bottom: 0px;
}
#btnFood {
    height: 80px;
    padding-top: 25px;
}

#btnBrewed {
    height: 80px;
    padding-top: 25px;
}
#btnIndex {
  float:top;
}

#map {
    height: 500px;
    width: 100%;
    float: right;
    color: black;
}

#display {
    height: 100%;
    width: 104%
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#popup {
    background-color: #38414d;
    color: white;
}
.container {
    height: 90%;
}

ul#list-display {
    padding: 0;
    list-style: none;
  }
  #list-display li {
    margin-bottom: .5em;
  }
  
<<<<<<< Updated upstream
  .comment-container {
=======
  comment-container {
>>>>>>> Stashed changes
    font-family: "Roboto", sans-serif;
    height: 100%;
    margin-bottom: 50px;
   
  }

  h4 {
    margin: 5px 20px;
  }
<<<<<<< Updated upstream
  
=======

>>>>>>> Stashed changes
  hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }

  .comment-box {
    width: 85%;
    margin: 50px auto 0px auto;
    background: #fff;
    padding: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .comment-box p {
    margin: 0 30px 15px;
    font-weight: 300;
    color: #e0e0eb;
    word-wrap: break-word;
    background: #e0e0eb;
    padding: 5px 10px;
  }

  .header {
    margin: 15px 20px;
    font-size: 27px;
    font-weight: 600;
  }

  form {
    margin: 10px 10px 30px 10px;
  }
  form ::-webkit-input-placeholder {
    color: #CCC;
    font-weight: 300;
  }

  input[type="text"], textarea {
    margin: 5px 10px;
    outline: none;
    background: #efefef;
    border: 0;
    padding: 10px;
  }
  
  textarea {
    resize: none;
    width: 85%;
  }

  input[type="text"] {
    width: 50%;
    margin-bottom: 15px;
  }

  button {
    font-weight: 400;
    margin: 12px 0 0 10px;
    border: 0;
    color: #fff;
    font-size: 15px;
    background: #D3775D;
    padding: 12px 20px 12px 20px;
    text-decoration: none;
    transition: all 0.2s ease;
  }
  button:hover {
    background: #C15322;
  }

  .footer p {
    float: right;
    font-size: 13px;
    margin-bottom: 10px;
    background: #FFF;
  }

  .background-container {
    background: #343a40;
    width: 100%;
    height: 100%;
    overflow: auto;
  }